/* Wrapper around datatable.
Take up all vertical space minus navbar and heading */
div#resize_wrapper {
	height: calc(100vh - 7rem);
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: 0;
}

table.dataTable span.highlight {
	background-color: #FFFF00;
	border-radius: 0.28571429rem;
}

.tooltip-inner {
	text-align: left;
}

.fab{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align:center;
	position: fixed;
	bottom: 12px;
	right: 12px;
	font-size: 1.3rem;
}