div.dataTables_wrapper div.dataTables_filter {
	text-align: left;
}

div.dataTables_wrapper div.dataTables_length {
	text-align: right;
}

table.dataTable span.highlight {
	background-color: #FFFF00;
	border-radius: 0.28571429rem;
}

/* navbar expand/collapse animation disable */
.collapsing {
	transition: none !important;
}

.tooltip-inner {
	text-align: left;
}

.carousel .carousel-item {
    transition-duration: 300ms;
}